<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{thisUser.username}}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'LOGIN_APP/css/style.css' %}"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

    <div class="container">
        <table class="table"><!--GENERAL INFO-->
            <thead>
                <td>
                    <h5>First Name:</h5> 
                    <span style="color: green; font-weight: 600">{{thisUser.fname}}</span>
                    
                    <h5>Birthday:</h5> 
                    <span style="color: green; font-weight: 600">{{thisUser.birthday}}</span>                
                </td>          
            </thead>
        </table><!--GENERAL INFO-->

        <table class="table"><!--JUNK POSTED-->
            <h5>Junk Posted:</h5>        
            {% for junk in thisUser.posted.all %}
                <tr>
                    <td>
                        <span style="color: green; font-weight: 600">{{junk.name}}</span> 
                    </td>
                </tr>
            {% endfor %}
        </table><!--JUNK POSTED-->
        <table class="table"><!--JUNK HOLDING-->
            <h5>Junk Holding:</h5>  
            {% for junk in thisUser.holding.all %}
                <tr>
                    <td>
                        <span style="color: green; font-weight: 600">{{junk.name}}</span> 
                        <span style="color: green; font-weight: 600">{{junk.name}}</span> 
                    </td>
                </tr>
            {% endfor %}
        </table><!--JUNK HOLDING-->

        <a href="/attic">GO TO ATTIC</a>     <br>      
        <a href="/logout">Logout</a>     
    </div><!--CONTAINER-->
</body>
</html>