<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{thisUser.username}}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'LOGIN_APP/css/style.css' %}"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

    <div class="container">
        <table class="table"><!--GENERAL INFO-->
            <thead>
                <td>
                    <h5>First Name:</h5> 
                    <span style="color: green; font-weight: 600">{{thisUser.fname}}</span>
                    
                    <h5>Birthday:</h5> 
                    <span style="color: green; font-weight: 600">{{thisUser.birthday}}</span>                
                </td>          
            </thead>
        </table><!--GENERAL INFO-->

        <table class="table"><!--JUNK POSTED-->
            <h5>Junk Posted:</h5>        
            {% for junk in thisUser.posted.all %}
                <tr>
                    <td>
                        <span style="color: green; font-weight: 600">{{junk.name}}</span> 
                    </td>
                </tr>
            {% endfor %}
        </table><!--JUNK POSTED-->
        <table class="table"><!--JUNK HOLDING-->
            <h5>Junk Holding:</h5>  
            {% for junk in thisUser.holding.all %}
                <tr>
                    <td>
                        <span style="color: green; font-weight: 600">{{junk.name}}</span> 
                    </td>
                </tr>
            {% endfor %}
        </table><!--JUNK HOLDING-->
        <table class="table"><!--thisUser's reviews-->
            <h5>Reviews on {{thisUser.fname}}:</h5>  
            {% for review in thisUser.reviewed.all %}
                <tr>
                    <td>
                        <span style="color: green; font-weight: 600">{{review.creator.fname}} {{review.creator.lname}}</span>  <br>
                        <span style="color: green; font-weight: 600">{{review.content}}</span>  <br>
                        <span style="color: green; font-weight: 600">{{review.rating}} out of 5</span> 
                    </td>
                </tr>
            {% endfor %}
        </table><!--thisUser's reviews-->
        {% if thisUser.id != request.session.user_live  %}
        <form action="/attic/review/{{thisUser.id}}" method="POST">
            {% csrf_token %}
            <textarea name="review"></textarea>
            <select name="rate">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <input type="submit" value="Leave {{thisUser.fname}} a review!">
        </form>
        {% endif %}
        <a href="/attic">GO TO ATTIC</a>     <br>      
        <a href="/logout">Logout</a>     
    </div><!--CONTAINER-->
</body>
</html>