<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=3, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Attic, useful junk</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'ATTIC_APP/css/style.css' %}"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <form action="/attic/sortJunk" method="POST">
        {% csrf_token %}
        <select name="sortJunk">
            <option value="updated_at">Posted: Oldest to Newest</option>
            <option value="-updated_at">Posted: Newest to Oldest</option>
            <option value="-updated_at">Posted: Newest to Oldest</option>
            <option value="price">Price: lowest to highest</option>
            <option value="-price">Price: Highest to Lowest</option>
            <option value="name">Alphabetical</option>
            <option value="-name">Reverse Alphabetical</option>
        </select>
        <input type="submit" value="Sort">     
    </form>

    <div class="container">
        <div class="table">
            <thead>                
                <th><a href="/user{{sessionUser.id}}">Your Page</a></th>//
                <th><a href="/logout">Logout</a></th>//
                <th><a href="/">Login Page</a></th>
            </thead>
            <h1>Welcome, {{sessionUser.username}}!</h1>
        </div>
        <table class="table"><!--JUNK TABLE-->
            <h1>Junk in the Attic</h1>
            <thead>
                <th>Junk Type</th>
                <th>Poster</th>
                <th>Location</th>
                <th>Description</th>
                <th>Tribes</th>
                <th>Per Day</th>
                <th>Holder</th>
                <th>Action</th>
            </thead>
           
            {% for junk in allJunk %}          
                <tr class="readableTableData">
                    <td>{{junk.name}}</td><!--NAME OF JUNK -->
                    <td>{{junk.poster.username}}</td><!--POSTER-->
                    <td>{{junk.location}}</td><!--LOCATION-->
                    <td>{{junk.description}}</td><!--DESCRIPTION-->                    
                    <td><!--TRIBES-->    
                        {% for tribe in junk.tribe.all %}{{tribe.name}}<br>{% endfor %}<!--TRIBES WHEEL-->    
                        {% if sessionUser == junk.poster %}
                            <form action="/attic/addTribe" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="thisJunk" value="{{junk.id}}">
                                <select name="addTribe">
                                    <option value="Tools">Tools</option>
                                    <option value="Auto">Auto</option>
                                    <option value="Kitchen">Kitchen</option>
                                    <option value="Sport">Sport</option>
                                    <option value="Melee">Melee</option>
                                </select>
                                <input type="submit" value="New Tribe"><!--TRIBES WHEEL-->    
                            </form>
                        {% endif %}
                    </td><!--TRIBES-->         
                    <td>{{junk.price}}</td>           
                    <td>{{junk.holder.username}}</td><!--HOLDER-->
                    <td style="width: 150px;"><!--ACTIONS-->                        
                        <a href="/user{{junk.poster.id}}">View Poster</a> <br><!--VIEW POSTER-->                        
                        <a href="/attic/{{junk.id}}">View Junk</a> <br><!--VIEW JUNK-->                        
                        {% if sessionUser != junk.holder %}
                        <a href="/attic/takejob/{{junk.id}}" style="color: green">Reserve Junk</a><br> <!--WORKER BUTTON-->
                        {% endif %}
                        {% if sessionUser == junk.holder %}
                        <a href="/attic/quitjob/{{junk.id}}" style="color: purple">Return Junk</a><br> <!--QUIT BUTTON-->
                        {% endif %}
                        {% if sessionUser.id == junk.poster.id %}
                        <a href="/attic/deletejunk/{{junk.id}}" style="color: red">Delete</a><br><!--DELETE-->
                        {% endif %}
                    </td><!--ACTIONS-->
                </tr>           
            {% endfor %}
            
        </table><!--JUNK TABLE END-->

            <table class="table"><!--CREATION TABLE-->
                <tr>
                    <td>
                        <form action="/attic/addJunk" class="table" method="POST"><!--JUNK FORM-->
                                {% csrf_token %}
                            <h2>Put Junk in Attic</h2>
                            <b>Name:</b> <input type="text" name="name" placeholder="Name your Junk"><br>
                            <b>Location:</b> <input type="text" name="location" placeholder="Where is your junk?"><br>
                            <b>Price Per Day:</b> <input type="number" name="price" placeholder="What will you charge?"><br>
                            <b>Description:</b> <br> <textarea name="description" id="" cols="30" rows="10" placeholder="Describe your Junk"></textarea>
                            <input type="submit" >
                        </form><!--JUNK FORM END-->
                    </td>
                </tr>
            </table><!--CREATION TABLE END-->
            
        </table><!--JOB TABLE END-->
  
    </div><!-- CONTAINER -->
</body>
</html>