<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=3, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Attic, useful junk</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'ATTIC_APP/css/style.css' %}"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <div class="table">
            <h1>Welcome, {{thisUser.username}}!</h1>
            <a href="/logout">Logout</a>
        </div>
        <table class="table"><!--JUNK TABLE-->
            <h1>Junk in the Attic</h1>
            <thead>
                <th>Junk Type</th>
                <th>Poster</th>
                <th>Location</th>
                <th>Description</th>
                <th>Family</th>
                <th>Holder</th>
                <th>Action</th>
            </thead>

            {% for junk in allJunk %}          
                <tr class="readableTableData">
                    <td>{{junk.name}}</td><!--NAME OF JUNK -->
                    <td>{{junk.poster.username}}</td><!--POSTER-->
                    <td>{{junk.location}}</td><!--LOCATION-->
                    <td>{{junk.description}}</td><!--DESCRIPTION-->                    
                    <td>{% for family in junk.family.all %}{{family.name}}{% endfor %}</td><!--FAMILY-->                    
                    <td>{{junk.holder.username}}</td><!--HOLDER-->
                    <td><!--ACTIONS-->                        
                        <a href="/user{{junk.poster.id}}">View Poster</a> <br><!--VIEW POSTER-->                        
                        <a href="/attic/{{junk.id}}">View Junk</a> <br><!--VIEW JUNK-->                        
                        {% if thisUser != junk.holder %}
                        <a href="/attic/reservejunk/{{junk.id}}" style="color: green">Reserve Junk</a><br> <!--WORKER BUTTON-->
                        {% endif %}
                        {% if thisUser == junk.holder %}
                        <a href="/attic/returnjunk/{{junk.id}}" style="color: purple">Return Junk</a><br> <!--QUIT BUTTON-->
                        {% endif %}
                        {% if thisUser.id == junk.poster.id %}
                        <a href="/attic/deletejunk/{{junk.id}}" style="color: red">Delete</a><br><!--DELETE-->
                        {% endif %}
                    </td><!--ACTIONS-->
                </tr>           
            {% endfor %}
            
        </table><!--JUNK TABLE END-->

            <table class="table"><!--CREATION TABLE-->
                <tr>
                    <td>
                        <form action="/attic/addJunk" class="table" method="POST"><!--JUNK FORM-->
                                {% csrf_token %}
                            <h2>Put Junk in Attic</h2>
                            <b>Name:</b> <input type="text" name="name" placeholder="Name your Junk"><br>
                            <b>Description:</b> <br> <textarea name="description" id="" cols="30" rows="10" placeholder="Describe your Junk"></textarea>
                            <input type="submit" >
                        </form><!--JUNK FORM END-->
                    </td>
                </tr>
            </table><!--CREATION TABLE END-->
            
        </table><!--JOB TABLE END-->
        <a href="/user{{thisUser.id}}">GO TO YOUR PAGE</a> <br> 
        <a href="/">GO TO LOGIN PAGE</a>     <br>       
    </div><!-- CONTAINER -->
</body>
</html>